.tree-root {
  &-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    min-height: 100%;
    padding-bottom: 50px;
  }
  &__toggler {
    cursor: pointer;
  }
  &__label {
    margin-bottom: 10px;
  }

  &__child {
    list-style-type: none;
  }

  &__child-item {
    margin-bottom: 5px;
  }

  &__grandchild {
    list-style-type: none;
    margin-left: 20px;
  }

  &__lastchild {
    list-style-type: none;
  }

  &__lastchild-value {
    margin-left: 20px;
    padding-bottom: 10px;
  }
}
