@import './components/deleteBtn';
@import './components/error';
@import './components/header';
@import './components/listLike';
@import './components/modal';
@import './components/sortRadio';
@import './components/treeLike';
@import './components/loader';
@import './components/mainPage';

body,
html {
  margin: 0;
  min-width: 599px;
  overflow-x: hidden;
}
